@import "tailwindcss";

@theme {
  --font-primary: "Courier Prime", monospace;
  --color-leiDevBlue: #5d8ea4;
  --color-Onyx: #353839;
  --color-MatteBlack: #282828;
  --color-Beige: #faf9f6;
}

.hover-effect {
  @apply scale-95 hover:scale-100 transition ease-in-out duration-300 transform cursor-pointer;
}

.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.headline {
  @apply font-primary text-base md:text-xl lg:text-2xl;
}

@layer utilities {
  @keyframes slide-in-corner {
    0% {
      transform: translate(100%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in-corner 0.3s ease-out forwards;
    transform-origin: top right;
  }
}

@layer utilities {
  @keyframes slide-bounce-out-corner {
    0% {
      transform: scale(1) translate(0, 0);
    }
    20% {
      transform: scale(1.05) translate(0, 0);
    }
    100% {
      transform: scale(0.8) translate(100%, -100%);
    }
  }

  .animate-slide-bounce-out {
    animation: slide-bounce-out-corner 0.4s ease-in forwards;
    transform-origin: top right;
  }
}
