@import "tailwindcss";

@theme {
  --font-primary: "Courier Prime", monospace;
  --color-leiDevBlue: #335c6e;
  --color-Onyx: #353839;
  --color-MatteBlack: #282828;
  --color-Beige: #faf9f6;
}

.hover-effect {
  @apply scale-95 hover:scale-100 transition ease-in-out duration-300 transform cursor-pointer;
}
.section {
  @apply max-w-[1400px] px-5 w-full;
}
.button {
  @apply flex-1 text-center bg-MatteBlack text-Beige hover:bg-leiDevBlue transform duration-300 text-lg md:text-xl rounded-sm shadow-md p-2 md:px-5 cursor-pointer;
}

.text {
  @apply text-sm md:text-base lg:text-lg;
}

.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.headline {
  @apply mb-10 font-primary text-base md:text-xl lg:text-2xl w-full p-4 rounded-sm bg-MatteBlack  text-Beige flex justify-between;
}

@layer utilities {
  @keyframes slide-in-corner {
    0% {
      transform: translate(100%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in-corner 0.3s ease-out forwards;
    transform-origin: top right;
  }
}

@layer utilities {
  @keyframes slide-bounce-out-corner {
    0% {
      transform: scale(1) translate(0, 0);
    }
    20% {
      transform: scale(1.05) translate(0, 0);
    }
    100% {
      transform: scale(0.8) translate(100%, -100%);
    }
  }

  .animate-slide-bounce-out {
    animation: slide-bounce-out-corner 0.4s ease-in forwards;
    transform-origin: top right;
  }
}

input,
textarea {
  @apply border-1 border-leiDevBlue rounded-md p-2;
}

.navElement {
  @apply scale-95 hover:scale-100 font-semibold hover:text-leiDevBlue cursor-pointer transition duration-300;
}

.navElement.active {
  @apply text-leiDevBlue;
}
